<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Human Bieng</title>
</head>
<body>
    
            
        <!-- -------------- CARRUSEL ---------------- -->
                <!-- <div class="carr">
                    <div class="container">
    
                     --- IMG- Teradyne --- -->
                        <!-- <a href="./public/views/teradyne.html" target="_blank">
                            <span>
                                <img class="img-carr"  src="./public/images/carrusel-img/teradyne-ok.png"  alt="teradyne-robotics">
                            </span>
                        </a>
                     -->
                    <!-- --- IMG- Rockwell --- -->
                        <!-- <a href="./public/views/rockwell.html" target="_blank">    
                            <span>
                                <img class="img-carr" src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell-tecnologics">
                            </span>
                        </a> -->

                      <!-- --- IMG- Boston --- -->
                        <!-- <a href="./public/views/boston.html" target="_blank">
                            <span>
                            <img class="img-carr" src="./public/images/ carrusel-img/boston-ok.png" alt="boston-dynamics">
                            </span>
                        </a>
 -->
            

                    <!-- <div> -->
            <!-- ------- LOGIN -------- -->
                        <!-- <a class="login" href="./public/views/login.html">Login</a><span>&nbsp...??</span> -->
    
            <!-- ------ REGISTER ------ -->
                        <!-- <span>&nbsp ...or </span>
                        <a class="register" href="./public/views/register.html">&nbsp Register</a>
                    </div> -->



            <!-- -------------- Main -------------- -->
            <!-- <div class="principal"> -->
                    <!-- ------ ASIDE ------ -->
                <!-- <aside>
                    <h3 class="aside-title">News of the Week</h3>
                    <img src="./public/video/robot-antropomorfico.webm" class="img" alt="noticias de empresa selecionada">
                    <p>Carga del texto de la 
                        noticia de la empresa 
                        seleccionada Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptas natus. Atque velit, esse, a doloremque, ducimus ipsam sint voluptate dolorum quia incidunt dignissimos animi sapiente perferendis sunt. Animi, numquam?</p>
                        <img src="./public/video/robot-cobot.webm" class="img" alt="noticias de empresa selecionada">
                    <h3 class="contenido aside-title">Contenido adicional</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni iusto vitae exercitationem numquam laborum quae debitis deserunt ea velit animi pariatur fugit, odio nobis consequatur nam unde adipisci voluptatem.</p>
                    <h3 class="aside-title">Operaciones de Mercado</h3>
                        <p>Contenido de la noticia seleccionada, correspondiente a la empresa 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, maxime, perspiciatis provident libero nostrum a reiciendis nemo blanditiis aliquam officia totam quam quisquam cupiditate mollitia. Quo, cum voluptas? Non, in.</p>
                        <h3 class="aside-title">Aplicaciones Militares</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem pariatur, reprehenderit at dicta impedit, harum doloremque delectus quis ut a rerum repudiandae dolores possimus exercitationem? Repudiandae veniam cum iure placeat?</p>
                </aside> -->
                    <!-- ----- Main ------ -->
                <!-- <main>
                    <article>
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident exercitationem voluptate, assumenda aspernatur aliquid accusamus minus reiciendis est. Saepe distinctio soluta veritatis sint voluptates ea, molestias deserunt placeat vero quis?
                        </h3>
                        <h5>Gonzalo Rodrigo.( 1/07/24 )</h5>
                        <img src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae sapiente quibusdam iusto, autem laudantium perspiciatis quisquam consectetur obcaecati culpa molestiae inventore, cupiditate voluptates est et aperiam minima reiciendis commodi?</p>
                        <a href="#" class="read-more">Seguir Leyendo</a>
                    </article>
                    <article>
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident exercitationem voluptate, assumenda aspernatur aliquid accusamus minus reiciendis est. Saepe distinctio soluta veritatis sint voluptates ea, molestias deserunt placeat vero quis?
                        </h3>
                        <h5>Gonzalo Rodrigo.( 1/07/24 )</h5>
                        <img src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae sapiente quibusdam iusto, autem laudantium perspiciatis quisquam consectetur obcaecati culpa molestiae inventore, cupiditate voluptates est et aperiam minima reiciendis commodi?</p>
                        <a href="#" class="read-more">Seguir Leyendo</a>
                    </article>
                    <article>
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident exercitationem voluptate, assumenda aspernatur aliquid accusamus minus reiciendis est. Saepe distinctio soluta veritatis sint voluptates ea, molestias deserunt placeat vero quis?
                        </h3>
                        <h5>Gonzalo Rodrigo.( 1/07/24 )</h5>
                        <img src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae sapiente quibusdam iusto, autem laudantium perspiciatis quisquam consectetur obcaecati culpa molestiae inventore, cupiditate voluptates est et aperiam minima reiciendis commodi?</p>
                        <a href="#" class="see-more">Mas Noticias</a>
                    </article> 

                    </div>
                </main>
            </div> -->


    
</body>
</html>