<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./login.html">
    <title>Login</title>
</head>
<body>
    <h1>Register</h1>

    <header>
        <div class="mb-3 row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFirstName">
                </div>
        </div>

        <div class="mb-3 row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLastName">
                </div>
        </div>

        <div class="mb-3 row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail">
                </div>
        </div>





        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
        </div>
    </header>




<footer>
    <div class="footer">
        <div class="row">
            <div class="col-md-2"><br><br><br>
                <a class="login"  href="../../index.html">Back</a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>


    <!-- ------- LOGIN -------- -->
                        <!-- <a class="login" href="./public/views/login.html">Login</a><span>&nbsp...??</span> -->
    
            <!-- ------ REGISTER ------ -->
                        <!-- <span>&nbsp ...or </span>
                        <a class="register" href="./public/views/register.html">&nbsp Register</a>
                    </div> -->



            <!-- -------------- Main -------------- -->
            <!-- <div class="principal"> -->
                    <!-- ------ ASIDE ------ -->
                <!-- <aside>
                    <h3 class="aside-title">News of the Week</h3>
                    <img src="./public/video/robot-antropomorfico.webm" class="img" alt="noticias de empresa selecionada">
                    <p>Carga del texto de la 
                        noticia de la empresa 
                        seleccionada Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptas natus. Atque velit, esse, a doloremque, ducimus ipsam sint voluptate dolorum quia incidunt dignissimos animi sapiente perferendis sunt. Animi, numquam?</p>
                        <img src="./public/video/robot-cobot.webm" class="img" alt="noticias de empresa selecionada">
                    <h3 class="contenido aside-title">Contenido adicional</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni iusto vitae exercitationem numquam laborum quae debitis deserunt ea velit animi pariatur fugit, odio nobis consequatur nam unde adipisci voluptatem.</p>
                    <h3 class="aside-title">Operaciones de Mercado</h3>
                        <p>Contenido de la noticia seleccionada, correspondiente a la empresa 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, maxime, perspiciatis provident libero nostrum a reiciendis nemo blanditiis aliquam officia totam quam quisquam cupiditate mollitia. Quo, cum voluptas? Non, in.</p>
                        <h3 class="aside-title">Aplicaciones Militares</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem pariatur, reprehenderit at dicta impedit, harum doloremque delectus quis ut a rerum repudiandae dolores possimus exercitationem? Repudiandae veniam cum iure placeat?</p>
                </aside> -->
                    <!-- ----- Main ------ -->
                <!-- <main>
                    <article>
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident exercitationem voluptate, assumenda aspernatur aliquid accusamus minus reiciendis est. Saepe distinctio soluta veritatis sint voluptates ea, molestias deserunt placeat vero quis?
                        </h3>
                        <h5>Gonzalo Rodrigo.( 1/07/24 )</h5>
                        <img src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae sapiente quibusdam iusto, autem laudantium perspiciatis quisquam consectetur obcaecati culpa molestiae inventore, cupiditate voluptates est et aperiam minima reiciendis commodi?</p>
                        <a href="#" class="read-more">Seguir Leyendo</a>
                    </article>
                    <article>
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident exercitationem voluptate, assumenda aspernatur aliquid accusamus minus reiciendis est. Saepe distinctio soluta veritatis sint voluptates ea, molestias deserunt placeat vero quis?
                        </h3>
                        <h5>Gonzalo Rodrigo.( 1/07/24 )</h5>
                        <img src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae sapiente quibusdam iusto, autem laudantium perspiciatis quisquam consectetur obcaecati culpa molestiae inventore, cupiditate voluptates est et aperiam minima reiciendis commodi?</p>
                        <a href="#" class="read-more">Seguir Leyendo</a>
                    </article>
                    <article>
                        <h3>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident exercitationem voluptate, assumenda aspernatur aliquid accusamus minus reiciendis est. Saepe distinctio soluta veritatis sint voluptates ea, molestias deserunt placeat vero quis?
                        </h3>
                        <h5>Gonzalo Rodrigo.( 1/07/24 )</h5>
                        <img src="./public/images/carrusel-img/rockwell-ok.png" alt="rockwell">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae sapiente quibusdam iusto, autem laudantium perspiciatis quisquam consectetur obcaecati culpa molestiae inventore, cupiditate voluptates est et aperiam minima reiciendis commodi?</p>
                        <a href="#" class="see-more">Mas Noticias</a>
                    </article> 

                    </div>
                </main>
            </div> -->
