body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}




/* ----------- MAIN ---------- */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/* -------- Video y Div -------- */
video {
    display: flex;
    text-align: center;
    margin: 0 auto;

    min-width: 100%;
    min-height: 100%;    
    height: auto;
    width: 100%;
} 

/* --- Ajuste Videos Pantallas --- */
@media (max-width: 720px) {
    .div-video{
        width: 640px;
        height: 420px;
        margin: 0 auto;
        padding: 12px;
    }   
}

@media (max-width: 600px) {
    .div-video{
        width: 420px;
        height: 240px;
        margin: 0 auto;
        padding: 12px;
    }
}

@media (max-width: 420px) {
    .div-video{
        width: 240px;
        height: 120px;
        margin: 0 auto;
        padding: 12px;
    }
}





/* ----------- FOOTER ---------- */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}


/* ---- Texto Footer ----- */
.footer-p {
    margin: 12px;
    padding-top: 12px;
    font-size: 14px;
    line-height: .8;
    color: #fffcfc;
}

/* ----- Imagenes Icons ---- */
.img-icon{
    margin:8px;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

/* --- Footer Responsive pantallas --- */
@media (max-width: 720px) {
    .footer-p {
        font-size: 14px;
    }
    .img-icon{
        width: 20px;
        height: 20px;
    }   
}

@media (max-width: 520px) {
    .footer-p {
        font-size: 10px;
    }
    .img-icon{
        width: 20px;
        height: 20px;
    }

}
