body { padding-bottom: 80px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

img{
  border-color: blue;
  border-style: solid;
  border-width: 3px;
  padding: 3px;
  max-width: 350px;
  max-height: 150px;
}


.footer { background-color: #90e694; padding: 20px 0; width: 100%; 

}

a{ color: rgb(0, 0, 0); text-decoration: none; }