.carousel-item img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .carousel-item img {
        max-height: 300px;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        max-height: 400px;
    }
}

@media (min-width: 992px) {
    .carousel-item img {
        max-height: 500px;
    }
}

.d-flex {
    justify-content: center;
    align-items: center;
}


.carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}
