body { 
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 80px;
   
}



h3{
    font-size: 2em;
}

p {
    font-size: 1em;
}

.welcome{ 
  background-color: #90e694; 
  padding: 8px; 
  margin: 12px;
  width: 100%; }

/* img{
    border-width: 3px;
    padding: 3px;
    max-width: 100%; 
    height: auto;
} */

.img-icon{
    width: 40px;
    height: 40px;
}


/* -------------- ASIDE -------------- */
.aside-izq, .aside-der {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        background-color: #d3caca;
        
        margin: 5px;
}

/* Estilos aside  pantalla grande */
@media (min-width: 768px) {
            .aside-izq,
            .aside-der {
                width: 25%;
                float: left;
                margin-right: 10px;
                height: auto; 

    }

    .aside-der {
        margin-right: 5px; 
        float: right; 
    }
}

/*Tamaño para tabletas */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Tamaños para celulares */
@media (max-width: 576px) {
    body {
        font-size: 11px;
    }
}



.footer { background-color: #90e694; padding: 20px 0; width: 100%; 

}

a{ color: rgb(0, 0, 0); text-decoration: none; }