h1, label, .btn, .form-control{ 
    overflow-x:hidden;
    font-family: "Montserrat", sans-serif;
}
/* @media (max-width: 420px) {
    .container {
        width: auto;
        height: auto;
        flex-direction: column;
       }
    .img-carr {
        max-width: 80%;
    }
} */
.btn {
    margin: 10px;
}
 
.botones {
    display: flex;
    flex-wrap: nowrap
}
