h1, label, .btn, .form-control{ 
    overflow-x:hidden;
    font-family: "Montserrat", sans-serif;
    color: white;

}
/* @media (max-width: 420px) {
    .container {
        width: auto;
        height: auto;
        flex-direction: column;
       }
    .img-carr {
        max-width: 80%;
    }
} */

body {
    
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #e74c3c, #000000);
    background: linear-gradient(to bottom, #e74c3c, #000000);
}

.btn {
    margin: 10px;
}
 
.botones {
    display: flex;
    flex-wrap: nowrap
}
