body {
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 193, 91);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 0;
}

.navbar a {
    padding: 8px 12px;
    text-decoration: none;
    color: #333; 
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    font-weight: 500;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.company-vision {
    width: 100%;
}

.company-vision h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.title-enlace {
    text-align: center;
    background-color: rgb(111, 176, 233);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    padding: 12px;
}

section span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.company-vision p {
    line-height: 1.2;
}

.news {
    width: 35%;
}

.news h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.news-item {
    margin-bottom: 20px;
    display: contents;
}

.news-item h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.news-item p {
    line-height: 1.2;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.img-icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .company-vision, .news {
        width: 100%;
        margin-bottom: 20px;
    }
}
